@import '~src/styles/color';
@import '~src/styles/scroll-bar';

:host {
  display: flex;
  flex-direction: column;
  background: $color-white;
  height: 100%;
  width: 830px;
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);

  .content {
    height: 100%;
    overflow: auto;
    @include scroll-bar();
  }

  .btn {
    min-width: 100px;
    height: 36px;
    border-radius: 3px;
    font-size: 15px;
    margin-top: 10px;
  }

  .btn-disabled {
    opacity: 0.4;
  }

  .back {
    background: $color-solitude;
    color: $color-bermuda-grey;
  }

  .next {
    background: $color-denim;
    color: $color-white;
    margin-left: 10px;
  }

  .arrow-left {
    background-image: url('/assets/images/arrow_prev.svg');
  }

  .arrow-right {
    background: url('/assets/images/arrow_next.svg');
  }
}