$color-gainsboro: #e5e5e5;
$color-white: #fff;
$color-black-pearl: #1f2530;
$color-dodger-blue: #2DA1F8;
$color-charcoal-grey: #4a4a4a;
$color-mantis: #77C859;
$color-grey: #7F7F7F;
$color-bermuda-grey: #7383a1;
$color-denim:#1585d8;
$color-link-water:#ced0da;
$color-solitude:#f2f4f7;
$color-solitude-1:#dfe3e9;