@import '~src/styles/color';

mat-toolbar {
  background-color: $color-black-pearl;
  color: $color-white;
  height: 90px;
}

img {
  width: 80px;
}

div {
  text-align: center;
  font-size: 14px;
  border-bottom: 3px solid $color-dodger-blue;
}

span {
  font-size: 16px;
  padding-right: 10px;
}

p{
  color:rgb(214, 150, 13);
}